*{
  margin: 0;
  padding: 0;
}

.container{
  max-width: 600px;
  margin: auto;
  padding: 0 1rem;
}

h1{
  text-align: center;
}

.top{
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
}

input{
  border: none;
  outline: none;
  width: 400px;
  padding: 0 0.5rem;
  
}